<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Simple Website Design</title>
  <link rel="stylesheet" href="../static/style.css">
</head>
<body>
  <div class="nav_background">
    <nav>
      <div class="logo">
        <a href="#"><span>My</span>cons</a>
      </div>
      <div class="buttons"> 
        <a href="#" class="login">Log in</a>
        <a href="#" class="btn">Register</a>
      </div>
    </nav>
  </div>
  <div class="container">
    
    <div class="content">
      <h2>Bring AI to your<br>daily financial decisions</h2> 
      <p>With your ai consultant having access to your monthly incomes and expenses, he can help you decide wether a certian purchase or investment is really worth it.</p>
    </div>
    <div class="link">
      <a href="#" class="hire">Try It</a>
    </div>
  </div>
  <div class="contact">
    <div class="content">
    <h1>Contact Us</h1>
    <div class="contactlinks">
      <a href="https://mail.google.com/mail/?view=cm&to=rozovitepatenca@gmail.com&subject=Your%20Subject&body=Your%20Message" target="_blank">Email Us</a><br>
      <a href="https://x.com/Rozovitepatenca" target="_blank">Follow us on X</a><br>
      <a href="https://www.instagram.com/rozovitepatenca/" target="_blank">Follow us on Instagram</a>
    </div>
    </div>
  </div>
</body>
</html>
